.all_books{
    display: flex;
    padding: 1rem
}

.single_book{
    background-color: rgb(72, 206, 206);
    margin: 1rem;  
    padding: 1rem  
}

.menu{
    display:flex;
    list-style: none; 
    background-color: rgb(255, 123, 47);
    padding: 0.5rem
}   

li{
padding-left: 1rem;}